
/*background of most pages will be the same*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:linear-gradient(#03045E, #0077B6, #00B4D8, #90E0EF, #CAF0F8)
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}



.indexcontainer {
    text-align:center;
    font-family: Arvo;
    background-color: #d9f6fc;
    padding: 20px;
    border-radius: 15px;
    border-style:solid;
    border-color:white;
    border-width: 5px;
    box-shadow: 0 0 10px black;
    width:45%;
    height:48%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap: 10px; /* space between boxes */
    margin: 0 auto; /* Center the container */
}

    
.logins{   /*this means the individual 4 boxes with the icons*/
    background: #CAF0F8;
    border: 3px solid #0077B6;
    box-shadow: 0 0 5px #0077B6;
    border-radius:15px;
    text-align:center;
    font-size:20px;
    width:34%;
    height:27%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-bottom:10px;
    margin-right:10px;
}

.logins:hover{
    background-color:#90E0EF;
    color: #03045E;
}




/*TEACHER LOGIN PAGE*/

.tlogin_container{    /*teacherlogin container*/
    text-align:left;
    font-family: Arvo;
    background-color: #d9f6fc;
    padding: 10px;
    padding-bottom:35px;
    border-radius: 15px;
    border-style:solid;
    border-color:white;
    border-width: 5px;
    box-shadow: 0 0 10px black;
    width:25%;
    height:55%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap: 10px; /* space between boxes */
    margin: 0 auto; /* Center the container */
}


.slogin_container{
    text-align:left;
    font-family: Arvo;
    background-color: #d9f6fc;
    padding: 10px;
    padding-bottom:30px;
    border-radius: 15px;
    border-style:solid;
    border-color:white;
    border-width: 5px;
    box-shadow: 0 0 10px black;
    width:22%;
    height:55%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    gap: 10px;
    margin: 0 auto; 
}

 
.sreg_container{   /*student registration container*/
    text-align:left; 
    font-family:Arvo;
    border-width:5px;
    border-color:white;
    border-radius: 15px;
    border-style:solid;
    border-color:white;
    border-width: 5px;
    box-shadow: 0 0 10px black;
    background-color: #d9f6fc; 
    width:40%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 10px;
}


.treg_container{
    text-align:left;
    font-family:Arvo;
    border-width:5px;
    border-color:white;
    border-radius: 15px;
    border-style:solid;
    border-color:white;
    border-width: 5px;
    box-shadow: 0 0 10px black;
    background-color: #d9f6fc; 
    width:40%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 10px;
}

.td_container{
    text-align:left;
    font-size:20px;
    text-decoration:bolder;
    font-family:Arvo;
    border-width:5px;
    border-color:white;
    border-radius: 15px;
    border-style:solid;
    border-color:white;
    border-width: 5px;
    box-shadow: 0 0 10px black;
    background-color: #d9f6fc; 
    width:40%; 
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 10px;
}

.sd_container {
    background-color: #d9f6fc; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 1000px;
    margin: 50px auto;
}


.dashboard_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart_section {
    flex: 3;
    margin-right: 30px;
}

canvas {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    width: 100%; /* Adjust width to fill available space */
    height:70vh;
}
.total_attendance_section {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circular-progress {
    position: relative;
    width: 150px;
    height: 150px;
    background: conic-gradient(#ededed 0deg, #ededed 360deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.inner-circle {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}

.progress-value {
    font-size: 35px;
    font-family:Arvo;
    font-weight: bold;
    background-image:linear-gradient(#480ca8,#560bad,#7209b7);
    color:transparent;
    -webkit-background-clip: text;
}

.sdtitle {
    font-family:Arvo;
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.af_container{
    text-align:left;
    font-size:20px;
    text-decoration:bolder;
    font-family:Arvo;
    border-width:5px;
    border-color:white;
    border-radius: 15px;
    border-style:solid;
    border-color:white;
    border-width: 5px;
    box-shadow: 0 0 10px black;
    background-color: #d9f6fc; 
    width:40%; 
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 10px;
    padding:10px;
    padding-bottom:15px;
}

.aftitle{
    font-size:30px;
    margin:0px;
}


.title{   /*the title class is same for all the login or registration pages.*/
    background-image:linear-gradient(black,grey,black);
    color:transparent;
    -webkit-background-clip: text;
    flex-direction:column;
    justify-content:center;
    margin-top:5px;
    padding-left:0px;
    font-weight:bolder;
    font-family:Arvo;;
    font-size:50px;
    margin-bottom:5px;
    text-align: center;
}

form {
    font-size:20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

label {
    margin-top: 10px;
}

.tlip{  /*inputs are different for every login and registation page because i wanted the boxes to be of differen sizes.*/
    padding: 10px;
    padding-left:0px;
    margin-top: 5px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    border-width:3px;
    margin-bottom:3px;
    width:300px;
    font-size:15px;

}
.slip{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    border-width:3px;
    margin-bottom:3px;
    width:295px;

}

.srip{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    border-width:3px;
    margin-bottom:3px;
    width:300px;
    align-content:center;

}
.trip{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    border-width:3px;
    margin-bottom:3px;
    width:300px;
    align-content:center;

}

.tdip{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    border-width:3px;
    margin-bottom:3px;
    width:300px;
    align-content:center;
}

.afip{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    border-width:3px;
    margin-bottom:5px;
    width:200px;
    align-items:center;
    align-content:center;
}

#af_absent_ip{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #0077B6;
    border-radius: 10px;
    border-width:3px;
    margin-bottom:5px;
    width:300px;
    align-items:center;
    align-content:center;
}

button {  /*button is of the same type for all registration and login pages*/
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0077B6;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #03045E;
}


p{ /*This is for the Back to Home and Already have an account/Dont have an account things */
    font-size:20px;
    text-align: center;
    margin-top: 10px;
}

