<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Student Attendance Portal</h1>
        <a href="{{ url_for('login_teacher') }}">Teacher Login</a>
        <br>
        <a href="{{ url_for('login_student') }}">Student Login</a>
        <br>
        <a href="{{ url_for('register_teacher') }}">Register as Teacher</a>
        <br>
        <a href="{{ url_for('register_student') }}">Register as Student</a>

    </div>
</body>
</html>
