<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="tlogin_container">
        <h2 class="title">Teacher Login</h2>
        <form class="tloginform" action="{{ url_for('login_teacher') }}" method="post">
            <label for="email">Email:</label>
            <input class="tlip" type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input class="tlip" type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('register_teacher') }}">Register here</a>
            <br>
            <a href="{{ url_for('index') }}">Back to Home</a>
        </p>
    </div>
  

  


</body>
</html>
