<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="treg_container">
        <h2 class="title">Teacher Registration</h2>
        <form action="{{ url_for('register_teacher') }}" method="post" autocomplete="off">
            <label for="email">Email:</label>
            <input class="trip" type="email" id="email" name="email" required>
            <label for="name">Name:</label>
            <input class="trip" type="text" id="name" name="name" required>
            <label for="password">Password:</label>
            <input class="trip" type="password" id="password" name="password" required>
            <label for="subjects">Subjects:</label>
            <input class="trip" type="text" id="subjects" name="subjects" required placeholder="Subject1, Subject2, etc">
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login_teacher') }}">Login here</a> <br>
            <a href="{{ url_for('index') }}">Back to Home</a>
        </p>
    </div>
    
   

</body>
</html>
