<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sreg_container">
        <h2 class="title">Student Registration</h2>
        <form  id="sreg_form" action="{{ url_for('register_student') }}" method="post">
            <label for="Enrollment Number">Enrollment Number:</label>
            <input class="srip" type="text" id="enrno" name="enrno" required>
            <label for="email">Email:</label>
            <input class="srip" type="email" id="email" name="email" required>
            <label for="name">Name:</label>
            <input class="srip" type="text" id="name" name="name" required>
            <label for="parent_email">Parent's Email:</label>
            <input class="srip" type="email" id="parent_email" name="parent_email" required>
            <label for="password">Password:</label>
            <input class="srip" type="password" id="password" name="password" required>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login_student') }}">Login here</a> <br>
            <a href="{{ url_for('index') }}">Back to Home</a>
        </p>
    </div>
    
   

</body>
</html>
