<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{ session['name'] }}</h1>
    <p>EMIII : {{EMIII}}</p>
    <p>DS : {{DS}}</p>
    <p>DLCOA :{{DLCOA}}</p>
    <p>CG: {{CG}}</p>
    <p>OOPM : {{OOPM}}</P>
    <p>DSGT: {{DSGT}}</p>
    <p>OOPMLAB : {{OOPMLAB}}</p>
    <p>DSLAB:{{DSLAB}}</p>
    <p>CGLAB: {{CGLAB}}</p>
    <p>DLCOALAB: {{DLCOALAB}}</p>
    <p>Your total attendance: {{ total_attendance }}</p>
    <a href="{{ url_for('logout') }}">Logout</a>

</body>
</html>