<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="td_container">
        <h2 class="title">Teacher <br> Dashboard</h2>
        <div class="logins"><a href="{{ url_for('select_subject_form' )}}" >Mark Attendance</a>
            <div><img src="/static/attendance.png" height=50px></div>
            </div>
        <div class="logins"><a href="{{ url_for('select_subject_view_form') }}">View Attendance</a>
            <div><img src="/static/analysis.png" height=50px></div>

        </div>
        <div class="logins"><a href="{{ url_for('parent_emails') }}">Notify Parents</a>
            <div><img src="/static/email-opened.png" height=50px></div>

        </div>

            <a href="{{ url_for('logout') }}">Logout</a> <br>
        </p>
        
    </div>
</body>
</html>

