<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="td_container">
        <h2 class="title">Teacher Dashboard</h2>
        <h2>{{ session['name'] }}</h2>
        
        <form action="{{ url_for('select_subject') }}" method="post">
            <label for="class">Select Class:</label>
            <select class="tdip" name="class" id="class">
                <option value="SE">SE</option>
                <option value="TE">TE</option>
            </select>
            <br>
            <label for="subject">Select Subject:</label>
            <select class="tdip" name="subject" id="subject">
                {% for subject in subjects %}
                    <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
            </select>
            
            <button type="submit">Next</button>
        </form>
        <p>
            <a href="{{ url_for('logout') }}">Logout</a> <br><br>
            <a href="{{ url_for('index') }}">Back to Home</a>
        </p>
        
    </div>
</body>
</html>
